<p style="color: green"><%= notice %></p>

<%= render @splash_screen %>

<div>
  <%= link_to "Edit this splash screen", edit_splash_screen_path(@splash_screen) %> |
  <%= link_to "Back to splash screens", splash_screens_path %>

  <%= button_to "Destroy this splash screen", @splash_screen, method: :delete %>
</div>
