<a href="/categories/<%= category.id %>/spends" class="no-deco">
  <div id="<%= dom_id category %>" class="category">
    <img src="<%= category.icon %>" class="c-icon">
    <h2 class="category-name"><%= category.name %></h2>
    <h2 class="category-sum">💵<%= category.spends.sum(:amount) %></h2>
  </div>
</a>
